{
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-packagejson",
    "prettier-plugin-prisma",
    "prettier-plugin-organize-imports",
    "prettier-plugin-jsdoc"
  ]
}
